<mat-sidenav-container class="mat-drawer-container mat-sidenav-container">
  <div class="mat-drawer-backdrop ng-star-inserted"></div>
  <mat-sidenav-content>
    <div class="h-100">
      <form action="">
        <mat-card class="p-0 mat-elevation-z24 box mat-card">
            <mat-card-title fxlayout="column" fxlayoutalign="center">
                <button class="mat-elevation-z12 mat-fab mat-accent" color="accent" mat-fab="">
                    <span class="mat-button-wrapper">
                      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">exit_to_app</mat-icon>
                    </span>
                    <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                    <div class="mat-button-focus-overlay"></div>
                  </button>
                  <a mat-button="" routerlink="/register" class="mat-button" href="/register" tabindex="0" aria-disabled="false">
                    <span class="mat-button-wrapper">Don't have an account? Sign up now!</span>
                    <div class="mat-button-ripple mat-ripple" matripple=""></div>
                    <div class="mat-button-focus-overlay"></div>
                  </a>
            </mat-card-title>
          <mat-card-content class="box-content mat-card-content" fxlayout="column" fxlayoutalign="end center">
            <mat-card class="mat-elevation-z12 box-content-inner mat-card" fxlayout="column" fxlayoutalign="center center">
              <span class="box-content-header">member login</span>
              <mat-form-field class="w-100 mat-form-field ng-tns-c34-50 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-hide-placeholder ng-untouched ng-pristine ng-invalid ng-star-inserted">
                <input matInput  class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored ng-untouched ng-pristine ng-invalid"
                        formcontrolname="email" matinput="" placeholder="Email" id="mat-input-1" aria-invalid="false" aria-required="false">
              </mat-form-field>
              <mat-form-field>
                <input matInput class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored ng-untouched ng-pristine ng-invalid"
                formcontrolname="password" placeholder="Password" id="mat-input-2" aria-invalid="false"
                aria-required="false">
              </mat-form-field>
            </mat-card>
            <button mat-button color="primary">SIGN IN</button>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
