<div fxLayout="row wrap">
  <div class="flex-p" fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card class="p-0">
      <mat-card-header class="p-1" fxLayoutAlign="space-between center">
        <mat-card-subtitle class="m-0">Products profit</mat-card-subtitle>
        <mat-chip-list>
          <mat-chip class="info-chip" color="accent" selected="true">
            <mat-icon class="icon-sm">trending_up</mat-icon>
            37%
          </mat-chip>
        </mat-chip-list>
      </mat-card-header>
      <div class="w-100 h-100p">
        <ngx-charts-bar-vertical [results]="single">
        </ngx-charts-bar-vertical>
      </div>
    </mat-card>
  </div>
  <div class="flex-p" fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card class="p-0">
      <mat-card-header class="p-1" fxLayoutAlign="space-between center">
        <mat-card-subtitle class="m-0">Products profit</mat-card-subtitle>
        <mat-chip-list>
          <mat-chip class="info-chip" color="accent" selected="true">
            <mat-icon class="icon-sm">trending_up</mat-icon>
            37%
          </mat-chip>
        </mat-chip-list>
      </mat-card-header>
      <div class="w-100 h-100p">
        <ngx-charts-bar-vertical [results]="single">
        </ngx-charts-bar-vertical>
      </div>
    </mat-card>
  </div>
  <div class="flex-p" fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card class="p-0">
      <mat-card-header class="p-1" fxLayoutAlign="space-between center">
        <mat-card-subtitle class="m-0">Products profit</mat-card-subtitle>
        <mat-chip-list>
          <mat-chip class="info-chip" color="accent" selected="true">
            <mat-icon class="icon-sm">trending_up</mat-icon>
            37%
          </mat-chip>
        </mat-chip-list>
      </mat-card-header>
      <div class="w-100 h-100p">
        <ngx-charts-bar-vertical [results]="single">
        </ngx-charts-bar-vertical>
      </div>
    </mat-card>
  </div>
  <div class="flex-p" fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card class="p-0">
      <mat-card-header class="p-1" fxLayoutAlign="space-between center">
        <mat-card-subtitle class="m-0">Products profit</mat-card-subtitle>
        <mat-chip-list>
          <mat-chip class="info-chip" color="accent" selected="true">
            <mat-icon class="icon-sm">trending_up</mat-icon>
            37%
          </mat-chip>
        </mat-chip-list>
      </mat-card-header>
      <div class="w-100 h-100p">
        <ngx-charts-bar-vertical [results]="single">
        </ngx-charts-bar-vertical>
      </div>
    </mat-card>
  </div>
</div>
