<!-- Dashboard -->
<div class="menu-item ng-star-inserted">
  <a mat-button fxLayout="row" routerLinkActive="active-link" matTooltipPosition="after" routerLink="/pages">
    <mat-icon class="menu-icon">dashboard</mat-icon>
    <span class="menu-title">Dashboard</span>
  </a>
</div>

<!-- Users -->
<div class="menu-item ng-star-inserted">
  <a mat-button fxLayout="row" routerLinkActive="active-link" matTooltipPosition="after" routerLink="/users">
    <mat-icon class="menu-icon">supervisor_account</mat-icon>
    <span class="menu-title">Users</span>
  </a>
</div>

<!-- UI Features -->
<div class="menu-item ng-star-inserted">
  <a mat-button fxLayout="row" matTooltipPosition="after" >
    <mat-icon class="menu-icon">computer</mat-icon>
    <span class="menu-title">UI Features</span>
    <mat-icon class="menu-expand-icon transition-2">arrow_drop_down</mat-icon>
  </a>
</div>